.App-header {
	display: grid;
	place-items: center;
}


button {
    border-radius: 25px !important;
    padding: 10px 25px !important;
    text-align: center;
    border: 0;
    font-size: 20px !important;
    display: inline-flex;
    align-items: center;
}
.modal-content {
	padding: 20px 30px;
	border-radius: 25px; 
}
h3.modal-title {
    margin: 15px 0;
    font-size: 20px;
}

.btn-msf {
	border-radius: 15px;
	padding: 8px 15px;
	display: block;
	margin: 10px 0;
	width: 100%;
	display: flex;
	justify-content:center;
}

.react-tel-input .form-control {
	width: 100%;
}
